name: Python CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff mypy coverage hypothesis pydantic mutmut

    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        ruff check . --select=E9,F63,F7,F82
        # default set of ruff rules with automatic fixes
        ruff check . --fix

    - name: Type check with mypy
      run: |
        mypy stockstui

    - name: Test with unittest and hypothesis
      run: |
        coverage run --source=stockstui -m unittest discover -s tests -p 'test_*.py'
        coverage report

    - name: Mutation testing with mutmut (Formatter only)
      run: |
        # Running mutation testing only on the formatter to keep CI fast
        mutmut run --max-children 1 || true
        mutmut results
